<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appedu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Task.UploadTaskActivity"></activity>
        <activity android:name=".ListActivity" />
        <activity android:name=".SelectActivity" />
        <activity android:name=".TaskActivity" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".CreateActivity" />
        <activity android:name=".Login.registroRoles" />
        <activity
            android:name=".mainSeci"
            android:label="@string/title_activity_main_seci"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".mainSeciest"
            android:label="mainSeciest"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".mainSecipad"
            android:label="mainSecipad"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".Login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>